<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32310">
		<setting id="appearance.alt" type="action" label="32311" default="-" option="close" action="RunPlugin(plugin://plugin.video.exodusSDP/?action=artwork)" visible="!System.HasAddon(script.exodus.artwork)" />
		<setting id="appearance.1" type="select" label="32311" values="-|Exuary|Exodus|Genesis" default="Exodus" visible="System.HasAddon(script.exodus.artwork)" />
		<setting id="scrapers.timeout.1" type="slider" label="32312" default="30" range="10,60" option="int" />
		<setting id="trakt.user" type="text" default="" visible="false" />
		<setting id="indicators.alt" type="enum" label="32313" lvalues="32314|32315" default="1" visible="!eq(-1,)" />
		<setting id="indicators" type="enum" label="32313" lvalues="32314" default="0" visible="eq(-2,)" />
		<setting id="api.language" type="select" label="32316" values="AUTO|Bulgarian|Chinese|Croatian|Czech|Danish|Dutch|English|Finnish|French|German|Greek|Hebrew|Hungarian|Italian|Japanese|Korean|Norwegian|Polish|Portuguese|Romanian|Russian|Serbian|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian" default="AUTO" />
		<setting id="flatten.tvshows" type="bool" label="32317" default="false" />
		<setting id="fanart" type="bool" label="32318" default="true" />
		<setting type="lsep" label="32319" />
		<setting id="movie.widget" type="enum" label="32320" lvalues="32302|32321|32322|32323|32324" default="1" />
		<setting id="tv.widget.alt" type="enum" label="32325" lvalues="32302|32326|32327|32328" default="2" visible="!eq(-8,)+eq(-7,1)" />
		<setting id="tv.widget" type="enum" label="32325" lvalues="32302|32326" default="1" visible="eq(-9,)|eq(-8,0)" />
		<setting id="lists.widget" type="enum" label="32329" lvalues="32302|32301" default="1" />
	</category>
	<category label="32330">
		<setting id="hosts.mode" type="enum" label="32331" lvalues="32332|32333|32334" default="1" />
		<setting id="progress.dialog" type="enum" label="32335" lvalues="32336|32337" default="0" />
		<setting type="lsep" label="32338" />
		<setting id="hosts.quality" type="enum" label="32339" values="1080p|720p|480p" default="0" />
		<setting id="autoplay.sd" type="bool" label="32340" default="false" />
		<setting id="hosts.captcha" type="bool" label="32341" default="true" />
		<setting id="hosts.sort.provider" type="bool" label="32342" default="false" />
		<setting type="lsep" label="32343" />
		<setting id="bookmarks" type="bool" label="32344" default="true" />
	</category>
	<category label="32345">
        <setting label="Exodus[COLOR green]S[/COLOR][COLOR yellow]d[/COLOR][COLOR red]P[/COLOR] sources:" type="lsep" />
	    <setting id="provider.anituga" type="bool" label="Anituga" default="true" />
	    <setting id="provider.cinematugahd" type="bool" label="CinematugaHD" default="true" />
	    <setting id="provider.filmesportuguesesonline" type="bool" label="FilmesPortuguesesOnline" default="true" />
	    <setting id="provider.filmeshare" type="bool" label="FilmeShare" default="true" />
	    <setting id="provider.gigatuga" type="bool" label="Gigatuga" default="false" />
        <setting id="provider.lausse" type="bool" label="Lausse" default="true" />
		<setting id="provider.lusoshare" type="bool" label="Lusoshare" default="false" />
		<setting id="provider.moseon" type="bool" label="Moseon" default="false" />
		<setting id="provider.moviefreept" type="bool" label="MoviefreePT" default="true" />
		<setting id="provider.movi3center" type="bool" label="Movie3center" default="true" />
		<setting id="provider.mrpiracy" type="bool" label="MrPiracy (Username/Password)" default="true" />
		<setting id="provider.piratatuga" type="bool" label="PirataTuga" default="false" />
		<setting id="provider.ratotv" type="bool" label="RatoTv (Username/Password)" default="true" />
		<setting id="provider.redcouch" type="bool" label="Redcouch" default="true" />
		<setting id="provider.sembilhete" type="bool" label="SemBilhete" default="true" />
		<setting id="provider.toppt" type="bool" label="TopPt" default="true" />
		<setting id="provider.tugafilmesus" type="bool" label="TugafilmesUS" default="false" />
		<setting id="provider.tugafilmescom" type="bool" label="TugafilmesCOM" default="false" />
		<setting id="provider.tugaflix" type="bool" label="TugaFlix" default="true" />
		<setting id="provider.tugafree" type="bool" label="TugaFree" default="true" />
		<setting id="provider.tugahd" type="bool" label="TugaHD (Username/Password)" default="true" />
		<setting id="provider.tugaio" type="bool" label="TugaIO" default="false" />
		<setting id="provider.tugatorrent" type="bool" label="TugaTorrent" default="false" />
		<setting id="provider.vizer" type="bool" label="Vizer" default="true" />
		<setting id="provider.warezbox" type="bool" label="Warez-Box (Username/Password)" default="false" />
		<setting id="provider.warezflix" type="bool" label="WarezFlix" default="false" />
		
		<setting label="Exodus sources:" type="lsep" />
		<setting id="provider.afdah" type="bool" label="Afdah" default="false" />
		<setting id="provider.animeultima" type="bool" label="Animeultima" default="false" />
		<setting id="provider.bcinema" type="bool" label="Bcinema" default="false" />
		<setting id="provider.bmoviez" type="bool" label="Bmoviez" default="false" />
		<setting id="provider.crazy" type="bool" label="Crazy" default="false" />
		<setting id="provider.crazy4ad" type="bool" label="Crazy4ad" default="false" />
		<setting id="provider.dailyrls" type="bool" label="Dailyrls" default="false" />
		<setting id="provider.dayt" type="bool" label="Dayt" default="false" />
		<setting id="provider.ddls" type="bool" label="Ddls" default="false" />
		<setting id="provider.ddlvalley" type="bool" label="DDLvalley" default="false" />
		<setting id="provider.directdl" type="bool" label="DirectDL" default="false" />
		<setting id="provider.dizibox" type="bool" label="Dizibox" default="false" />
		<setting id="provider.dizigold" type="bool" label="Dizigold" default="false" />
		<setting id="provider.dltube" type="bool" label="DLTube" default="false" />
		<setting id="provider.einthusan" type="bool" label="Einthusan" default="false" />
		<setting id="provider.fdl" type="bool" label="Fdl" default="false" />
		<setting id="provider.genvideo" type="bool" label="Genvideo" default="false" />
		<setting id="provider.gogoanime" type="bool" label="GoGoAnime" default="false" />
		<setting id="provider.hevcfilm" type="bool" label="Hevcfilm" default="false" />
		<setting id="provider.heydl" type="bool" label="Heydl" default="false" />
		<setting id="provider.kissanime" type="bool" label="KissAnime" default="false" />
		<setting id="provider.library" type="bool" label="Library" default="false" />
		<setting id="provider.mfree" type="bool" label="Mfree" default="false" />
		<setting id="provider.miradetodo" type="bool" label="MiraDeTodo" default="false" />
		<setting id="provider.movie4k" type="bool" label="Movie4K" default="false" />
		<setting id="provider.movie25" type="bool" label="Movie25" default="false" />
		<setting id="provider.moviefree" type="bool" label="Moviefree" default="false" />
		<setting id="provider.moviegee" type="bool" label="Moviegee" default="false" />
		<setting id="provider.moviego" type="bool" label="Moviego" default="false" />
		<setting id="provider.movies14" type="bool" label="Movies14" default="false" />
		<setting id="provider.movieshd" type="bool" label="MoviesHD" default="false" />
		<setting id="provider.moviesplanet" type="bool" label="Moviesplanet" default="false" />
		<setting id="provider.moviexk" type="bool" label="Moviexk" default="false" />
		<setting id="provider.mvzone" type="bool" label="Mvzone" default="false" />
		<setting id="provider.myvideolink" type="bool" label="Myvideolink" default="false" />
		<setting id="provider.newlinks" type="bool" label="Newlinks" default="false" />
		<setting id="provider.ninemovies" type="bool" label="Ninemovies" default="false" />
		<setting id="provider.onemovies" type="bool" label="Onemovies" default="false" />
		<setting id="provider.onlinedizi" type="bool" label="Onlinedizi" default="false" />
		<setting id="provider.onlinemovies" type="bool" label="Onlinemovies" default="true" />
		<setting id="provider.onseries" type="bool" label="ONseries" default="false" />
		<setting id="provider.openmovies" type="bool" label="Openmovies" default="true" />
		<setting id="provider.ororo" type="bool" label="Ororo" default="false" />
		<setting id="provider.pelispedia" type="bool" label="Pelispedia" default="false" />
		<setting id="provider.pftv" type="bool" label="PFTV" default="false" />
		<setting id="provider.phdmovies" type="bool" label="Phdmovies" default="false" />
		<setting id="provider.pmovies" type="bool" label="Pmovies" default="false" />
		<setting id="provider.primewire" type="bool" label="Primewire" default="false" />
		<setting id="provider.pubfilm" type="bool" label="Pubfilm" default="false" />
		<setting id="provider.putlocker" type="bool" label="Putlocker" default="false" />
		<setting id="provider.putlockerz" type="bool" label="Putlockerz" default="false" />
		<setting id="provider.putmovie" type="bool" label="Putmovie" default="false" />
		<setting id="provider.rainierland" type="bool" label="Rainierland" default="false" />
		<setting id="provider.releasebb" type="bool" label="releaseBB" default="false" />
		<setting id="provider.rlshd" type="bool" label="Rlshd" default="false" />
		<setting id="provider.rlsmovies" type="bool" label="Rlsmovies" default="false" />
		<setting id="provider.scenedown" type="bool" label="Scenedown" default="false" />
		<setting id="provider.sceper" type="bool" label="Sceper" default="false" />
		<setting id="provider.sezonlukdizi" type="bool" label="Sezonlukdizi" default="false" />
		<setting id="provider.sockshare" type="bool" label="Sockshare" default="false" />
		<setting id="provider.streamlord" type="bool" label="Streamlord" default="false" />
		<setting id="provider.tinydl" type="bool" label="Tinydl" default="false" />
		<setting id="provider.torba" type="bool" label="Torba" default="false" />
		<setting id="provider.tunemovie" type="bool" label="Tunemovie" default="false" />
		<setting id="provider.tvbmoviez" type="bool" label="Tvbmoviez" default="true" />
		<setting id="provider.twoddl" type="bool" label="twoDDL" default="false" />
		<setting id="provider.watch32" type="bool" label="Watch32" default="false" />
		<setting id="provider.watchfree" type="bool" label="Watchfree" default="false" />
		<setting id="provider.watchhd" type="bool" label="WatchHD" default="false" />
		<setting id="provider.watchseries" type="bool" label="Watchseries" default="false" />
		<setting id="provider.wmo" type="bool" label="WMO" default="false" />
		<setting id="provider.wrzcraft" type="bool" label="Wrzcraft" default="false" />
		<setting id="provider.xmovies" type="bool" label="Xmovies" default="false" />
		<setting id="provider.ymovies" type="bool" label="Ymovies" default="false" />
	</category>
	<category label="32346">
		<setting type="lsep" label="FANART.TV" />
		<setting type="lsep" label="Personal API keys provide quicker API responses." />
		<setting type="lsep" label="Become a VIP member for many benefits at: https://fanart.tv/vip" />
		<setting id="fanart.tv.user" type="text" option="hidden" label="32309" default="" />
		<setting type="sep" />
		
        <setting id="tokenMrpiracy" type="text" option="hidden" visible="false" label="" default="" />
        <setting id="refreshMrpiracy" type="text" option="hidden" visible="false" label="" default="" />
        <setting id="loggedin" type="text" option="hidden" visible="false" label="" default="" />
        <setting type="lsep" label="RatoTv" />
		<setting id="ratotv_user" type="text" label="32303" default="" />
		<setting id="ratotv_password" type="text" option="hidden" label="32307" default="" />
		<setting type="sep" />
		<setting type="lsep" label="MrPiracy" />
		<setting id="mrpiracy_user" type="text" label="32303" default="" />
		<setting id="mrpiracy_password" type="text" option="hidden" label="32307" default="" />
		<setting type="sep" />
		<setting type="lsep" label="TugaHD" />
		<setting id="tugahd_user" type="text" label="32303" default="" />
		<setting id="tugahd_password" type="text" option="hidden" label="32307" default="" />
		<setting type="sep" />
		<setting type="lsep" label="Warez-Box" />
		<setting id="warezbox_user" type="text" label="32303" default="" />
		<setting id="warezbox_password" type="text" option="hidden" label="32307" default="" />
        <setting type="sep" />
        
		<setting type="lsep" label="TMDb" />
		<setting id="tm.user" type="text" option="hidden" label="32309" default="" />
		<setting type="sep" />
		<setting type="lsep" label="Trakt" />
		<setting id="trakt.user" type="action" label="32306" option="close" action="RunPlugin(plugin://plugin.video.exodusSDP/?action=authTrakt)" />
		<setting id="trakt.token" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="trakt.refresh" type="text" option="hidden" visible="false" label="" default="" />
		<setting type="sep" />
		<setting type="lsep" label="IMDb" />
		<setting id="imdb.user" type="text" label="32303" default="" />
		<setting type="sep" />
		<setting type="lsep" label="RealDebrid" />
		<setting id="realdebrid.auth" type="action" option="close" label="32306" action="RunPlugin(plugin://plugin.video.exodusSDP/?action=rdAuthorize)" />
		<setting id="realdebrid.id" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.secret" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.token" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.refresh" type="text" option="hidden" visible="false" label="" default="" />
		<setting type="sep" />
		<setting type="lsep" label="Premiumize" />
		<setting id="premiumize.user" type="text" label="32305" default="" />
		<setting id="premiumize.pin" type="text" option="hidden" label="32308" default="" />
		<setting type="sep" />
		<setting type="lsep" label="AllDebrid" />
		<setting id="alldebrid.user" type="text" label="32303" default="" />
		<setting id="alldebrid.pass" type="text" option="hidden" label="32307" default="" />
		<setting type="sep" />
		<setting type="lsep" label="RPnet" />
		<setting id="rpnet.user" type="text" label="32303" default="" />
		<setting id="rpnet.api" type="text" option="hidden" label="32309" default="" />
		<setting type="sep" />
		<setting type="lsep" label="Moviesplanet.is" />
		<setting id="moviesplanet.user" type="text" label="32303" default="" />
		<setting id="moviesplanet.pass" type="text" option="hidden" label="32307" default="" />
		<setting type="sep" />
		<setting type="lsep" label="Streamlord.com" />
		<setting id="streamlord.user" type="text" label="32303" default="" />
		<setting id="streamlord.pass" type="text" option="hidden" label="32307" default="" />
		<setting type="sep" />
		<setting type="lsep" label="Ororo.tv" />
		<setting id="ororo.user" type="text" label="32304" option="hidden" default="" />
		<setting id="ororo.pass" type="text" option="hidden" label="32307" default="" />
	</category>
	<category label="30920">
		<setting id="movie_library" type="folder" label="30922" default="special://userdata/addon_data/plugin.video.exodusSDP/Movies" />
		<setting id="tv_library" type="folder" label="30923" default="special://userdata/addon_data/plugin.video.exodusSDP/TVShows" />
		<setting type="lsep" label="30921" />
		<setting type="sep" />
		<setting id="service_update" type="bool" label="30924" default="true" />
		<setting id="service_notification" type="bool" label="30925" default="true" />
		<setting type="sep" />
		<setting id="update_library" type="bool" label="30926" default="true" />
		<setting id="check_library" type="bool" label="30927" default="true" />
		<setting type="sep" />
		<setting id="check_movie_link" type="bool" label="30928" default="false" />
		<setting id="check_episode_link" type="bool" label="30929" default="false" />
	</category>
	<category label="32347">
		<setting id="downloads" type="bool" label="32348" default="false" />
		<setting type="sep" />
		<setting id="movie.download.path" type="folder" label="32349" enable="!eq(-2,false)" default="" />
		<setting id="tv.download.path" type="folder" label="32350" enable="!eq(-3,false)" default="" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="32351" />
		<setting type="lsep" label="32352" />
	</category>
	<category label="32353">
		<setting id="subtitles" type="bool" label="32354" default="false" />
		<setting type="sep" />
		<setting id="subtitles.utf" type="bool" label="32355" enable="!eq(-2,false)" default="false" />
		<setting type="sep" />
		<setting id="subtitles.lang.1" type="select" label="32356" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="English" />
		<setting id="subtitles.lang.2" type="select" label="32357" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="English" />
		<setting type="lsep" label="[CR]" />
		<setting type="lsep" label="32358" />
		<setting type="lsep" label="32359" />
	</category>
</settings>
